// Example: +button(type="link", href="https://...") Click Me

mixin button(role, type, href)
  - var role = attributes.role;
  - var type = attributes.type;
  - var href = attributes.href;

  if type === 'link'
    a(class="btn" href=href)
      if block
        block
  else if type === 'button'
    button.btn
      if block
        block
