.btn {
  padding: 8px 18px;
  background: none;
  display: block;
  border: none;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  font-family: inherit;
  border:1px solid #55c6d1;
  color: #55c6d1;
  border-radius: 100px;

  &--main {
    background-color: #55c6d1;
    color: #ffffff;
  }

  &--light {
    color: #ffffff;
    border-color: inherit;
    display: inline-block;

    &:visited {
      color: #ffffff;
    }
  }
}

.btn:hover {
  transition: 0.3s;
  background-color: #55c6d1;
  color: #ffffff;
}
