section.about
  .about__wrap
    .about__text
      h3.title--second.about__text-title Работаем более 10 лет
      p.about__text-desc Объект права диспозитивен. Помимо права собственности и иных вещных прав, концессия доказывает причиненный ущерб. Неустойка, как следует из теоретических исследований, экспортирует Кодекс.

    .about__features
      .about__features-list
        .about__features-item
          .about__features-item-icon.feature-icon--cart
          .about__features-item-desc Широкий ассортимент
        .about__features-item
          .about__features-item-icon.feature-icon--star
          .about__features-item-desc Эксклюзивные коллекции в России
        .about__features-item
          .about__features-item-icon.feature-icon--planet
          .about__features-item-desc Международные контракты
        .about__features-item
          .about__features-item-icon.feature-icon--contract
          .about__features-item-desc Индивидуальные партнёрские условия
    
    .about__clients
      .about__clients-title Нас выбирают
      .about__clients-list
        .swiper-wrapper.about__clients-wrap
          .swiper-slide.about__clients-item
            .about__clients-item-img-wrap
              img.about__clients-item-img(src="./images/client1.png")
          .swiper-slide.about__clients-item
            .about__clients-item-img-wrap
              img.about__clients-item-img(src="./images/client2.png")
          .swiper-slide.about__clients-item
            .about__clients-item-img-wrap
              img.about__clients-item-img(src="./images/client3.png")
          .swiper-slide.about__clients-item
            .about__clients-item-img-wrap
              img.about__clients-item-img(src="./images/client4.png")
          .swiper-slide.about__clients-item
            .about__clients-item-img-wrap
              img.about__clients-item-img(src="./images/client5.png")

