.news-list__container
  .new-list__title Новости компании
    .news-list__list
      .news-list__item
        a.news-item__link
          .news-item__img-wrap
            img.news-item__img(src="./images/news1.png")
          .news-item__title Гражданско-правовой объект права — актуальная национальная задача
      .page-sidebar__news-item
        a.news-item__link
          .news-item__img-wrap
            img.news-item__img(src="./images/news1.png")
          .news-item__title Гражданско-правовой объект права — актуальная национальная задача
      .page-sidebar__news-item
        a.news-item__link
          .news-item__img-wrap
            img.news-item__img(src="./images/news1.png")
          .news-item__title Гражданско-правовой объект права — актуальная национальная задача
      .page-sidebar__news-item
        a.news-item__link
          .news-item__img-wrap
            img.news-item__img(src="./images/news1.png")
          .news-item__title Гражданско-правовой объект права — актуальная национальная задача
    a(href="#").btn.page-sidebar__news-btn Архив новостей

