.teaser-list__teaser.teaser
  .teaser__wrap
    .teaser__img-container
      a.teaser__img-link(href="#")
        .teaser__img-wrap
          img.teaser__img(src="http://placehold.it/200x200", alt="")
    .teaser__text-content
      .teaser__title Title
    .teaser__description Description
    .teaser__order
      .teaser__price 1999$
      a.teaser__button.button.button--buy(href="#") Button
