mixin sidebar(homepage)
  .sidebar__container
    if homepage
      .sidebar.sidebar--top.sidebar--top-fixed
        .sidebar__wrap
          .sidebar__logo
            include ../logo/logo
       
          nav.sidebar__nav
            ul
              li Продукция
                ul
                  li
                    a(href="/") Карнизы
                  li
                    a(href="/") Аксессуары
              li О компании
                ul
                  li
                    a(href="/") О нас
                  li
                    a(href="/") Производство
              li
                a(href="/") Партнёрам
              li
                a(href="/") Новости и статьи
              li
                a(href="/") Контакты

          .sidebar__phone
            include ../phone/phone
          .sidebar__office-location г.Москва, ул.Перерва д.54, пом. VIII
          .sidebar__socials
            include ../socials/socials

      .sidebar__catalog
        .sidebar__catalog-title Каталог продукции
        ul.menu.sidebar__catalog-list
          li
            a.sidebar__catalog-item(href="#") Карнизы и аксессуары
          li 
            a.sidebar__catalog-item(href="#") Карнизы трансформеры
          li
            a.sidebar__catalog-item(href="#") Шины алюминиевые 
          li
            a.sidebar__catalog-item(href="#") Плоские алюминиевые профиля
          li
            a.sidebar__catalog-item(href="#") Подхваты магнитные
          li
            a.sidebar__catalog-item(href="#") Римские шторы
          li
            a.sidebar__catalog-item(href="#") Готовые шторы и тюли

      .sidebar__news
        
    else
      .sidebar
        .container
          .sidebar__wrap
            .sidebar__logo
              include ../logo/logo
         
            nav.sidebar__nav
              ul
                li Продукция
                  ul
                    li
                      a(href="/") Карнизы
                    li
                      a(href="/") Аксессуары
                li О компании
                  ul
                    li
                      a(href="/") О нас
                    li
                      a(href="/") Производство
                li
                  a(href="/") Партнёрам
                li
                  a(href="/") Новости и статьи
                li
                  a(href="/") Контакты

            .sidebar__phone
              include ../phone/phone
            .sidebar__office-location г.Москва, ул.Перерва д.54, пом. VIII
            .sidebar__socials
              include ../socials/socials

