mixin page-sidebar(homepage)
  .page-sidebar__container
    if homepage
      .page-sidebar.page-sidebar--top.page-sidebar--top-fixed
        .page-sidebar__wrap
          .page-sidebar__logo
            include ../logo/logo
       
          nav.page-sidebar__nav
            ul
              li Продукция
                ul
                  li
                    a(href="/") Карнизы
                  li
                    a(href="/") Аксессуары
              li О компании
                ul
                  li
                    a(href="/") О нас
                  li
                    a(href="/") Производство
              li
                a(href="/") Партнёрам
              li
                a(href="/") Новости и статьи
              li
                a(href="/") Контакты

          .page-sidebar__phone
            include ../phone/phone
          .page-sidebar__office-location г.Москва, ул.Перерва д.54, пом. VIII
          .page-sidebar__socials
            include ../socials/socials

      .page-sidebar__catalog
        .page-sidebar__catalog-title Каталог продукции
        ul.menu.page-sidebar__catalog-list
          li
            a.page-sidebar__catalog-item(href="#") Карнизы и аксессуары
          li 
            a.page-sidebar__catalog-item(href="#") Карнизы трансформеры
          li
            a.page-sidebar__catalog-item(href="#") Шины алюминиевые 
          li
            a.page-sidebar__catalog-item(href="#") Плоские алюминиевые профиля
          li
            a.page-sidebar__catalog-item(href="#") Подхваты магнитные
          li
            a.page-sidebar__catalog-item(href="#") Римские шторы
          li
            a.page-sidebar__catalog-item(href="#") Готовые шторы и тюли

      .page-sidebar__news
        
    else
      .page-sidebar
        .container
          .page-sidebar__wrap
            .page-sidebar__logo
              include ../logo/logo
         
            nav.page-sidebar__nav
              ul
                li Продукция
                  ul
                    li
                      a(href="/") Карнизы
                    li
                      a(href="/") Аксессуары
                li О компании
                  ul
                    li
                      a(href="/") О нас
                    li
                      a(href="/") Производство
                li
                  a(href="/") Партнёрам
                li
                  a(href="/") Новости и статьи
                li
                  a(href="/") Контакты

            .page-sidebar__phone
              include ../phone/phone
            .page-sidebar__office-location г.Москва, ул.Перерва д.54, пом. VIII
            .page-sidebar__socials
              include ../socials/socials

