.sidebar__container {
  width: 100%;
  max-width: 270px;
  position: relative;
  /*background-color: #ffffff;*/
  /*background-image: url("../images/top-bg.png");*/
}

.sidebar--top-fixed {
  position: fixed;
  top: 0;
  max-width: 270px;
}

.sidebar--top-fixed {
}

.sidebar__wrap {
  width: 100%;
  height: 100%;
}

.sidebar__logo {
  margin-bottom: 50px;
}

.sidebar--top {
}

.sidebar__nav > ul {
  margin: 0;
  padding: 0;

  & li.expanded > span {
    cursor: pointer;
    position: relative;
  }

  & li.expanded > span::after {
    content: "►";
    transform: rotate(90deg);
    position: absolute;
    top: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    font-size: 12px;
    transition: 0.3s ease-in-out;
  }

  & li.expanded > ul {
    padding: 0;
    margin: 0;
  }

  & li.expanded.unfold ul {

    margin-top: 8px;
  }
  
  & li.expanded.unfold > span::after {
    color: #55C6D1;
    transform: rotate(0deg);
    top: 3px;
  }

  & li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    padding: 0px;

    
    
    & a {
      color: #212121;
    }

    & ul {
      /*padding-top: 16px;*/
    }

    & ul li {
      margin-bottom: 5px;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    } 

    & ul li a {
      color: #55C6D1;
      font-size: 14px;
    }
    & a {
      text-decoration: none;
    }
  }
}

.sidebar__catalog-list {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
  }
}

.sidebar__phone {
  margin-top: 160px;
  margin-bottom: 90px;
}

.sidebar__socials {
  margin-top: 16px;
}

.sidebar__catalog {
  margin-top: 1525px;
  display: none;
}
