extends layout.pug

include ../blocks/sidebar/page-sidebar

block content
  main.page-content
    .page-content__top
      .container.page-content__wrap

        .page-sidebar__container
          +sidebar('homepage')
        .content__wrap
          .top-content__container
            .top-slider__container
              .top-slider__wrap
                .top-slider__left-slider
                  .left-slider__container
                    .swiper-wrapper.left-slider__wrap

                      .swiper-slide.left-slider__slide
                        .left-slider__slide-img-wrap
                          img.left-slider__slide-img(src="./images/1.png")

                        .left-slider__slide-desc-wrap
                          .title--first.left-slider__slide-desc-title Карнизы и аксессуары
                          p.left-slider__slide-desc Восхищает нас красота и богатство индивидуальных стилей. Уникальная коллекция карнизов Vidella сделана с вниманием к каждой детали украсят Ваш интерьер.
                          a.btn.btn--light(href="#") подробнее

                      .swiper-slide.left-slider__slide
                        .left-slider__slide-img-wrap
                          img.left-slider__slide-img(src="./images/2.jpg")

                        .left-slider__slide-desc-wrap
                          .title--first.left-slider__slide-desc-title Аксессуары
                          p.left-slider__slide-desc Восхищает нас красота и богатство индивидуальных стилей. Уникальная коллекция карнизов Vidella сделана с вниманием к каждой детали украсят Ваш интерьер.
                          a.btn.btn--light(href="#") подробнее

                      .swiper-slide.left-slider__slide
                        .left-slider__slide-img-wrap
                          img.left-slider__slide-img(src="./images/1.png")

                        .left-slider__slide-desc-wrap
                          .title--first.left-slider__slide-desc-title Римские шторы
                          p.left-slider__slide-desc Восхищает нас красота и богатство индивидуальных стилей. Уникальная коллекция карнизов Vidella сделана с вниманием к каждой детали украсят Ваш интерьер.
                          a.btn.btn--light(href="#") подробнее

                      .swiper-slide.left-slider__slide
                        .left-slider__slide-img-wrap
                          img.left-slider__slide-img(src="./images/2.jpg")

                        .left-slider__slide-desc-wrap
                          .title--first.left-slider__slide-desc-title Готовые шторы и тюли
                          p.left-slider__slide-desc Восхищает нас красота и богатство индивидуальных стилей. Уникальная коллекция карнизов Vidella сделана с вниманием к каждой детали украсят Ваш интерьер.
                          a.btn.btn--light(href="#") подробнее

                .top-slider__right-slider
                  .right-slider__container
                    .swiper-wrapper.right-slider__wrap

                      .swiper-slide.right-slider__slide
                        .right-slider__slide-mark
                        .right-slider__slide-img-wrap
                          img.right-slider__slide-img(src="./images/img1.png" alt="1")
                        .right-slider__slide-desc-wrap.hide
                          .title.title--second.right-slider__slide-desc-title Компания «Орбис»
                          p.right-slider__slide-desc Мы стараемся воплотить в своих продуктах представления об идеальном дизайне окна – максимум возможностей по минимальной цене.
                          a.btn.right-slider__slide-desc-btn(href="#") подробнее

                      .swiper-slide.right-slider__slide.open
                        .right-slider__slide-mark
                        .right-slider__slide-img-wrap
                          img.right-slider__slide-img(src="./images/img3.png" alt="2")
                        .right-slider__slide-desc-wrap
                          .title.title--second.right-slider__slide-desc-title Компания «Орбис»
                          p.right-slider__slide-desc Мы стараемся воплотить в своих продуктах представления об идеальном дизайне окна – максимум возможностей по минимальной цене.
                          a.btn.right-slider__slide-desc-btn(href="#") подробнее

                      .swiper-slide.right-slider__slide
                        .right-slider__slide-mark
                        .right-slider__slide-img-wrap
                          img.right-slider__slide-img(src="./images/img2.png" alt="3")
                        .right-slider__slide-desc-wrap.hide
                          .title.title--second.right-slider__slide-desc-title Компания «Орбис»
                          p.right-slider__slide-desc Мы стараемся воплотить в своих продуктах представления об идеальном дизайне окна – максимум возможностей по минимальной цене.
                          a.btn.right-slider__slide-desc-btn(href="#") подробнее

                      .swiper-slide.right-slider__slide
                        .right-slider__slide-mark
                        .right-slider__slide-img-wrap
                          img.right-slider__slide-img(src="./images/img3.png" alt="4")
                        .right-slider__slide-desc-wrap.hide
                          .title.title--second.right-slider__slide-desc-title Компания «Орбис»
                          p.right-slider__slide-desc Мы стараемся воплотить в своих продуктах представления об идеальном дизайне окна – максимум возможностей по минимальной цене.
                          a.btn.right-slider__slide-desc-btn(href="#") подробнее
              
              include ../blocks/about/about

            //-include ../blocks/gallery/gallery



  //-include ../blocks/form-designer/form-designer
  


