doctype html
html(lang="ru")
  head
    title My Site - #{title}
    block styles
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
      link(rel="stylesheet" href="./css/main.css")
  body
    .page-wrap
      
      block content
      block footer
        include ../blocks/footer/footer
      block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js")
      script(src="./js/app.js")
