doctype html
html(lang="ru")
  head
    title My Site - #{title}
    block styles
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
      //- link(rel="stylesheet" href="./css/swiper.min.css")
      link(rel="stylesheet" href="./css/main.css")
  body
    block header
      .page-header
        include ../blocks/header/header.pug
    block content
    block footer
      .page-footer
        include ../blocks/footer/footer.pug
    block scripts
      script(src='./js/swiper.min.js')
      script(src="./js/main.js")
