//- layout.pug
html
  head
    title My Site - #{title}
  block styles
    link(rel="stylesheet", href="./css/normalize.css")
    link(rel="stylesheet", href="./css/swiper.min.css")
    link(rel="stylesheet", href="./css/main.css")
  body
    block header
      .page-header
        include blocks/header.pug
    block content
    block footer
      .page-footer
        include blocks/footer.pug
    block scripts
      script(src='./js/swiper.min.js')