section.form-designer
  .container
    .form-designer__wrap
      .form-designer__img-wrap
        img.form-designer__img(src="./images/designer.png")
      .form-designer__content-wrap
        .title--second.form-designer__title Занимаетесь дизайном интерьера?
        p.form-designer__desc Объект права диспозитивен. Помимо права собственности и иных вещных прав, концессия доказывает причиненный ущерб. Неустойка, как следует из теоретических исследований, экспортирует Кодекс.

        .form-designer__form-wrap
          form.form-designer__form
            .form-designer__form-top
              .input-wrap.form-designer__input-wrap
                label(for="name") Ваше имя
                input(type="text" name="name").input.form-designer__input
              .input-wrap.form-designer__input-wrap
                label(for="name") Ваша эл.почта
                input(type="text" name="name").input.form-designer__input
            .input-wrap.form-designer__input-wrap
              label(for="name") Ваше сообщение
              textarea(type="text" name="name").input.form-designer__input
            button(type="submit").btn.btn--main Отправить
