section.solutions
  .solutions__wrap
    .solutions__header
      .title--second.solutions__title Интерьерные решения
      .solutions__subtitle Имущественного комплекса акцепт вознаграждает гарантийный индоссамент, это применимо и к исключительным правам.
    .solutions__gallery
      .solutions__gallery-wrap
        .solutions__gallery-list
          .solutions__gallery-item-title.active Гостинная
          .solutions__gallery-item-title Спальня
          .solutions__gallery-item-title Детская
          .solutions__gallery-item-title Кухня
          .solutions__gallery-item-title Мансарда
          .solutions__gallery-item-title Веранда
        .solutions__gallery-img-list
          .solutions__gallery-item-img-wrap
            img.solutions__gallery-item-img(src="./images/gallery1.png")

          .solutions__gallery-item-img-wrap
            img.solutions__gallery-item-img(src="./images/gallery1.png")
          .solutions__gallery-item-img-wrap
            img.solutions__gallery-item-img(src="./images/gallery1.png")
          .solutions__gallery-item-img-wrap
            img.solutions__gallery-item-img(src="./images/gallery1.png")
          .solutions__gallery-item-img-wrap
            img.solutions__gallery-item-img(src="./images/gallery1.png")
          .solutions__gallery-item-img-wrap
            img.solutions__gallery-item-img(src="./images/gallery1.png")
