.socials
  .socials__wrap
    .socials__list
      a(href="/").socials__item.socials__item--vk VK
      a(href="/").socials__item.socials__item--fb Facebook
      a(href="/").socials__item.socials__item--inst Instagram
