.page-footer
  .container
    .page-footer__wrap
      .page-footer__logo
        include ../logo/logo
      .page-footer__content-wrap
        .page-footer__address-nav-wrap
          .page-footer__address
            include ../address/address
          .page-footer__footer-nav
            .footer-nav__list
              a.link.footer-nav__item(href="#") Продукция
              a.link.footer-nav__item(href="#") Новости и статьи
              a.link.footer-nav__item(href="#") О компании
              a.link.footer-nav__item(href="#") Контакты
              a.link.footer-nav__item(href="#") Партнёрам
        .page-footer__copyright-wrap
          .page-footer__copyright 2018 © Все права защищены.
          .page-footer__socials
            include ../socials/socials
          .page-footer__dev Разработано в <a href="https://flabers.com">Flabers</a>
