@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #212121;
  background-image: url("../images/top-bg.png");
  background-repeat: no-repeat;
}

html, body {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
}

a{
  color: #55C6D1;

  &:visited {
    color: #55C6D1;
  }
}

p {
  line-height: 1.4;
  font-size: 13px;
}

.input {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border: 1px solid #ededed;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.title {
  &--first {
    font-size: 40px;
  }

  &--second {
    font-size: 30px;
    font-weight: 500;
  }

  &--third {
    font-size: 21px;
    font-weight: 500;
  }
}

.container {
  margin: 0 auto;
  max-width: 1240px;

}

.page-content {
  width: 100%;
  background-color: #ebebeb;
}

.page-content__top {
  width: 100%;
}

.content__wrap {
  width: 70%;
}

.page-content__wrap {
  display: flex;
}

.top-slider__wrap {
  display: flex;
  height: 900px;
}

.left-slider__container {
  height: 100%;
  width: 700px;
  overflow: hidden;
}

.solutions__wrap {
  background-color: #ffffff;
}

.left-slider__slide-img {
  height: 100%;
  filter: brightness(0.7);
}

.left-slider__slide {
  position: relative;
}

.left-slider__slide-desc-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  padding-bottom: 32px;
}

.left-slider__slide-desc-title {
  color: #ffffff;
}

.right-slider__container {
  height: 100%;
}

.right-slider__slide-img-wrap {
  width: 360px;
  height: 100%;
  overflow: hidden;
}

.left-slider__slide-desc {
  color: #ffffff;
}

.right-slider__slide-img {
  max-width: 100%;
}

.top-slider__container {
  background-color: #ededed;
  width: 100%;
}

.right-slider__slide {
  position: relative;
}

.right-slider__slide-desc-wrap {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.btn.right-slider__slide-desc-btn {
  display: inline-block;
}




