.page-header
  .container
    .page-header__wrap
      .page-header__logo
        include ../logo/logo
   
      nav.page-header__nav
        include ../nav/nav
        +nav({
          'Projects': '/projects',
          'Blog': '/blog'
        })
